<%
  child_key = association[:child_key].first
  association_name = association[:name]
  collection = MerbAdmin::AbstractModel.new(association[:child_model]).all.map{|o| [o.id, object_name(o)]}.sort_by{|o| o[1]}
  selected = @object.send(association_name)
  label = association[:pretty_name]
  required = false
  errors_exist = !(@object.errors[child_key].nil? || @object.errors[child_key].empty?)
  @properties.each do |property|
    next unless property[:name] == child_key
    required = true unless property[:nullable?]
  end
%>
            <fieldset class="module aligned">
              <h2><%= label %></h2>
              <div class="<%= errors_exist ? "form-row errors" : "form-row" %>">
                <% if errors_exist %>
                <ul class="errorlist">
                  <% @object.errors[child_key].each do |error| %>
                  <li><%= error %></li>
                  <% end %>
                </ul>
                <% end %>
                <div>
                  <%= select(:name => "associations[#{association_name}][]", :id => association_name, :collection => collection, :include_blank => true, :selected => selected ? selected.id.to_s : nil, :label => label) %>
                  <p class="help">
                    <%= required ? "Required." : "Optional." %>
                  </p>
                </div>
              </div>
            </fieldset>
