        <div id="content-main">
        <ul class="object-tools">
          <li>
            <%= link_to("View on site", "/#{@model_name.snake_case}/#{@object.id}", :target => "_blank", :class => "viewsitelink") %>
          </li>
        </ul>
        <%= form_for(@object, :action => slice_url(:admin_update, :model_name => @model_name.snake_case, :id => @object.id)) do %>
          <div>
            <fieldset class="module aligned">
              <% @properties.each do |property| %>
                <% next if [:id, :created_at, :created_on, :updated_at, :updated_on].include?(property.name) %>
              <div class="<%= @object.errors[property.name] ? "form-row errors" : "form-row"%>">
                <% if @object.errors[property.name] %>
                <ul class="errorlist">
                  <% @object.errors[property.name].each do |error| %>
                  <li><%= error %></li>
                  <% end %>
                </ul>
                <% end %>
<%= partial(property.primitive.to_s.snake_case, :property => property) -%>
              </div>
              <% end %>
            </fieldset>
            <div class="submit-row" >
              <%= submit "Save", :class => "default", :name => "_save" %>
              <p class="deletelink-box">
                <%= link_to("Delete", slice_url(:admin_delete, :model_name => @model_name.snake_case, :id => @object.id), :class => "deletelink") %>
              </p>
              <%= submit "Save and add another", :name => "_add_another" %>
              <%= submit "Save and continue editing", :name => "_continue" %>
            </div>
          </div>
        <% end =%>

        </div>
