        <div id="content-main">
        <%= form_for(@object, :action => url(:admin_update, :model_name => @abstract_model.singular_name, :id => @object.id)) do %>
          <div>
<%= partial('properties', :properties => @properties) -%>
            <% @abstract_model.belongs_to_associations.each do |association| %>
<%= partial('belongs_to', :association => association) -%>
            <% end %>
            <% @abstract_model.has_one_associations.each do |association| %>
<%= partial('has_one', :association => association) -%>
            <% end %>
            <% @abstract_model.has_many_associations.each do |association| %>
<%= partial('has_many', :association => association) -%>
            <% end %>
            <div class="submit-row" >
              <%= submit "Save", :class => "default", :name => "_save" %>
              <p class="deletelink-box">
                <%= link_to("Delete", url(:admin_delete, :model_name => @abstract_model.singular_name, :id => @object.id), :class => "deletelink") %>
              </p>
              <%= submit "Save and add another", :name => "_add_another" %>
              <%= submit "Save and continue editing", :name => "_continue" %>
            </div>
          </div>
        <% end =%>

        </div>
