        <div id="content-main">
        <%= form_for(@object, :action => slice_url(:admin_create, :model_name => @abstract_model.singular_name)) do %>
          <div>
            <fieldset class="module aligned">
              <% @properties.each do |property| %>
                <% next if [:id, :created_at, :created_on, :updated_at, :updated_on].include?(property[:name]) %>
              <div class="<%= @object.errors[property[:name]] ? "form-row errors" : "form-row"%>">
                <% if @object.errors[property[:name]] %>
                <ul class="errorlist">
                  <% @object.errors[property[:name]].each do |error| %>
                  <li><%= error %></li>
                  <% end %>
                </ul>
                <% end %>
<%= partial(property[:type].to_s, :property => property) -%>
              </div>
              <% end %>
            </fieldset>
            <% @abstract_model.has_many_associations.each do |association| %>
<%= partial('has_many', :association => association) %>
            <% end %>
            <div class="submit-row" >
              <%= submit "Save", :class => "default", :name => "_save" %>
              <%= submit "Save and add another", :name => "_add_another" %>
              <%= submit "Save and continue editing", :name => "_continue" %>
            </div>
          </div>
        <% end =%>

        </div>
