        <div id="content-main">
        <%= form_for(@object, :action => url(:admin_create, :model_name => @abstract_model.singular_name)) do %>
          <div>
<%= partial('properties', :properties => @properties) -%>
            <% @abstract_model.belongs_to_associations.each do |association| %>
<%= partial('belongs_to', :association => association) -%>
            <% end %>
            <% @abstract_model.has_one_associations.each do |association| %>
<%= partial('has_one', :association => association) -%>
            <% end %>
            <% @abstract_model.has_many_associations.each do |association| %>
<%= partial('has_many', :association => association) -%>
            <% end %>
            <div class="submit-row" >
              <%= submit "Save", :class => "default", :name => "_save" %>
              <%= submit "Save and add another", :name => "_add_another" %>
              <%= submit "Save and continue editing", :name => "_continue" %>
            </div>
          </div>
        <% end =%>

        </div>
