<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>MerbAdmin</title>
    <link href="<%= public_path_for :stylesheet, 'forms.css' %>" type="text/css" charset="utf-8" rel="stylesheet" media="all" />
    <script src="<%= public_path_for :javascript, 'i18n.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'core.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'RelatedObjectLookups.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'calendar.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'DateTimeShortcuts.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'SelectBox.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'SelectFilter2.js' %>" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="admin-slice change-form">
    <div id="container">
      <div id="header">
        <div id="branding">
          <h1 id="site-name">MerbAdmin</h1>
        </div>
        <div id="user-tools">Welcome, <strong><%= %></strong>. <a href="<%= %>">Log out</a></div>
      </div>
      <div class="breadcrumbs">
        <a href="<%= url(:admin_dashboard) %>">Home</a> &rsaquo;
        <a href="<%= url(:admin_list, :model_name => @model_name.snake_case) %>"><%=h @model_name.pluralize %></a> &rsaquo;
        <%=h action_name.capitalize %> <%=h @model_name.snake_case.gsub('_', ' ') %>
      </div>
      <%= partial 'layout/message' %>
      <div id="content" class="colM">
        <h1><%=h action_name.capitalize %> <%=h @model_name.snake_case.gsub('_', ' ') %></h1>
<%= catch_content :for_layout -%>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
