<%
  slice_name = "MerbAdmin" + (MerbAdmin[:app_name].blank? ? "" : " for #{MerbAdmin[:app_name]}")
  page_name = "Select " + @model_name.snake_case.gsub('_', ' ') + " to edit"
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title><%= page_name %> | <%= slice_name %></title>
    <link href="<%= public_path_for :stylesheet, 'base.css' %>" type="text/css" charset="utf-8" rel="stylesheet" media="all" />
    <link href="<%= public_path_for :stylesheet, 'changelists.css' %>" type="text/css" charset="utf-8" rel="stylesheet" media="all" />
    <!--[if lte IE 7]><link href="<%= public_path_for :stylesheet, 'ie.css' %>" type="text/css" charset="utf-8" rel="stylesheet" media="all" /><![endif]-->
    <script src="<%= public_path_for :javascript, 'core.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'RelatedObjectLookups.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'getElementsBySelector.js' %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= public_path_for :javascript, 'actions.js' %>" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="admin-slice change-list">
    <div id="container">
      <div id="header">
        <div id="branding">
          <h1 id="site-name">
            <%= slice_name %>
          </h1>
        </div>
        <div id="user-tools">
          Welcome, <strong><%= %></strong>. <a href="<%= %>">Log out</a>
        </div>
      </div>
      <div class="breadcrumbs">
        <a href="<%= url(:admin_dashboard) %>">Home</a> &rsaquo;
        <%=h @model_name.pluralize %>
      </div>
<%= partial 'layout/message' -%>
      <div id="content" class="flex">
        <h1>
          <%= page_name %>
        </h1>
<%= catch_content :for_layout -%>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
