        <div id="content-main">
        <ul class="object-tools">
          <li><a href="<%= "/#{@model_name.snake_case}/#{@instance.id}" %>" target="_blank" class="viewsitelink">View on site</a></li>
        </ul>
        <%= form_for(@instance, :action => slice_url(:admin_update, :model_name => @model_name.snake_case, :id => @instance.id)) do %>
          <div>
            <fieldset class="module aligned">
              <h2><%= @model_name %> info</h2>
              <% @properties.each do |property| %>
                <% next if [:id, :created_at, :created_on, :updated_at, :updated_on].include?(property.name) %>
<%= partial property.primitive.to_s.snake_case, :property => property -%>
              <% end %>
            </fieldset>
            <div class="submit-row" >
              <%= submit "Save", :class => "default", :name => "_save" %>
              <p class="deletelink-box"><a href="<%= slice_url(:admin_delete, :model_name => @model_name.snake_case, :id => @instance.id) %>" class="deletelink">Delete</a></p>
              <%= submit "Save and add another", :name => "_add_another" %>
              <%= submit "Save and continue editing", :name => "_continue" %>
            </div>
          </div>
        <% end =%>

        </div>
