        <div id="content-main">
          <ul class="object-tools">
            <li>
              <a href="<%= slice_url(:admin_new, :model_name => @model_name.snake_case) %>" class="addlink">Add <%=h @model_name.snake_case.gsub('_', ' ') %></a>
            </li>
          </ul>
          <div class="module filtered" id="changelist">
            <table cellspacing="0">
              <thead>
                <tr>
                  <% @properties.each do |property| %>
                  <th>
                    <%= property.field.capitalize.gsub('_', ' ') %>
                  </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @instances.each_with_index do |instance, index| %>
                <tr class="row<%= index % 2 == 0 ? '1' : '2' %>">
                  <% @properties.each do |property| %>
                  <td>
                    <a href="<%= slice_url(:admin_edit, :model_name => @model_name.snake_case, :id => eval("instance.id")) %>">
                      <% case property.primitive.to_s %>
                      <% when "TrueClass" %>
                      <% if eval("instance.#{property.field}") == true %>
                      <img alt="True" src="<%= image_path("icon-yes.gif") %>"/>
                      <% else %>
                      <img alt="False" src="<%= image_path("icon-no.gif") %>"/>
                      <% end %>
                      <% when "DateTime" %>
                      <%= eval("instance.#{property.field}").strftime("%b. %d, %Y, %I:%M%p") %>
                      <% when "Date" %>
                      <%= eval("instance.#{property.field}").strftime("%b. %d, %Y") %>
                      <% when "Time" %>
                      <%= eval("instance.#{property.field}").strftime("%I:%M%p") %>
                      <% when "Integer" %>
                      <% if property.type.respond_to?(:flag_map) #Enum or Flag type %>
                      <%= eval("instance.#{property.field}").to_s.capitalize.gsub('_', ' ') %>
                      <% else %>
                      <%= eval("instance.#{property.field}") %>
                      <% end %>
                      <% when "BigDecimal" %>
                      <%= eval("instance.#{property.field}") %>
                      <% when "Float" %>
                      <%= eval("instance.#{property.field}") %>
                      <% when "String" %>
                      <%= eval("instance.#{property.field}").to_s.truncate(50) %>
                      <% end %>
                    </a>
                  </td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
            <p class="paginator">
              <%= paginate(@current_page, @page_count, :url => slice_url(:admin_list, :model_name => @model_name.snake_case)) if @page_count.to_i > 1 %>
              <%= @model.count %> <%= @model.count == 1 ? @model_name.snake_case.gsub('_', ' ') : @model_name.snake_case.gsub('_', ' ').pluralize %>
              <%= "<a href=\"#{slice_url(:admin_list, :model_name => @model_name.snake_case, :all => true)}\" class=\"showall\">Show all</a>" if @page_count.to_i == 2 %>
            </p>
          </div>
        </div>
        <br class="clear" />
